
/* HEADER */
.main_header {
	position: relative;
}

@media (min-width: 769px)  {
h1.logo {
	text-align: center;
	margin: 0;
	a {
		margin: 2em auto 1.6em auto;
		display: block;
		text-decoration: none;
		img {
			width: auto;
		}
	}
}
}
@media (min-width: 320px) and (max-width: 480px) {
	h1.logo {
		display: block;
		float: left;
		margin: 0;
		text-align: left;
		a {
			margin: 1em auto;
			display: block;
			img {
				width: 265px;
			}
		}
	}
	.eight.columns {
		width: 100%;
		margin: 0;
	}

		.nav-toggle{
		margin-top: 42px;


	}	
}

@media (min-width: 481px) and (max-width: 767px) {
	h1.logo {
			display: block;
			float: left;
			margin: 0;
			text-align: left;
				a {
					margin: 40px auto;
					display: block;
					img {
						width: 325px;
						}
					}
			}

	.nav-toggle{
		margin-top: 40px;


	}		
}


/* NAV */


.deco {
	border-bottom: 1px solid $quaternary-color;
	width: 100%;
	margin: 0 auto;
}

nav {
	margin-bottom: 16px;
	text-align: center;
	ul {
		font-size: $font-size-normal ;
		display: table;
		margin: 0 auto;
		width: 491px;
	}
	li {
		display: table-cell;
			a {
				color:$primary-color;
				text-decoration: none;
				&:hover {
					color: #666;
				}
			}
		}
}

/* Sidebar */

aside ul {
	font-size: 1.458em;
	list-style: outside none none;
	border-top: 1px solid $secondary-color;
	padding:0;
	li {
		border-bottom: 1px solid $secondary-color;
		margin: 0;
		padding: 8px 0;
	}

	 a { text-decoration: none; }
}

/* twitter */

#jstwitter {
	position: relative;
	 margin-bottom: 40px;
	font-style: italic;
	float:left;
	.item {
		border-bottom: 1px solid #ccc;
		font-size:1.4rem;
		margin-top: 10px;
		padding-bottom: 10px;
	}
	.tweet-wrapper {
		line-height: 140%;
	}
	.item {
		a {}
		img {
			width: 100%;
		}
		a:hover {
		}
		.text {
			color: #414141;
			display: block;

		}
		.time {
			color: #ccc;
		}
	}
	.tweet .user {
		color: #ccc;
	}
}


#instafeed img{ width:100%;}
.time a, .user a{
	color: #999;

}


.socialtitle {
    display: block;
    float: left;
}
.followbutton {
    float: right;
    margin-top: 5px;
}
.container.section {
	margin: 60px auto;
}

.postlist, .postinterior {
	display: inline-block;
	margin: 0 0 24px;
	img {
		width: 100%;
	}

	 a{ text-decoration:underline;}
 h2 a { text-decoration:none;}
}

.post-img-recent {
		display: block;
		height: 213px;
		overflow: hidden;
		position: relative;
		width: 100%;
}
@media (min-width: 480px) and (max-width: 1024px) {

.post-img-recent {
		display: block;
		height:600px!important;
		overflow: hidden;
		position: relative;
		width: 100%;
}
}
@media (min-width: 300px) and (max-width: 480px) {

.post-img-recent {
		display: block;
		height:400px!important;
		overflow: hidden;
		position: relative;
		width: 100%;
}

}

.blog_img {
	margin-bottom: 32px;
}



.readmore-social {
	font-size: 1.45rem;
	color: $quaternary-color;
	border-top: 1px solid $quaternary-color;
	border-bottom: 1px solid $quaternary-color;
	font-size: 1.45rem;
	margin: 0 0 60px;
	padding: 16px 0;

		a{ 
			color: $quaternary-color;
			text-decoration:none;
		}

		:hover{ color:$tertiary-color ;}
	}

	
.footer {
	background-color: #414141;
	p {
		margin: 40px 0;
		color: #fff;
		text-align: center;
	}
}

.containergallery {
	background: #eee;
	&:before {
		content: "";
		display: table;
	}
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.gallery {
	background-color: #000;
}

/* clearfix */

.item {
	float: left;
	margin-bottom: 10px;
	img {
		max-width: 100%;
		max-height: 100%;
		vertical-align: bottom;
	}
}

.first-item {
	clear: both;
}

/* remove margin bottom on last row */

.last-row {
	margin-bottom: 0;
	~ .item {
		margin-bottom: 0;
	}
}

.comments {

	 width: 91.3333%;
		 margin-left: 4%;
		 float:right;
		 display: inline-block;

		 p{ margin-left: 20px;}

				.reply {    display: inline-block;}


		
}

/*.comment-form{

 input, textarea { display: inline-block;
			width: 100%;
		 }

		 label{ color:$primary-color;}


}*/
.comment-list {list-style:none;}

.comment { 
	float:left;
	margin:40px auto;
	border-top:1px solid $quaternary-color;
		border-bottom:1px solid $quaternary-color;
		padding: 20px 0 ;

		.comment-author{ font-size:$font-size-normal; text-decoration:none;}
		.comment-meta{ 
			a {color:$quaternary-color; text-decoration:none; margin-bottom:16px; display: inline-block;}
		}
	
}

.item {   

}

.item:hover {

}

.comment-respond { 
		display: inline-block;
		opacity: 0.5;
	
		width:100%; 

	&:hover {   


 
	}

}

.comment-form { padding:20px; 
p { margin-left:0;}

}


.reply{ float:right ;}
.reply-title { text-decoration: italic;}
.pagination {
	text-align: center;
	
	a{ margin-right: 18px;  text-align: center;}
}



.socialbuttons{

	width:auto;
	display:inline-block;
	li { display: block;
		 

	}

	li a {
	

		 border: 0; 
		 font: 0/0 a; 
		 text-shadow: none; 
		 color: transparent; 
		 background: url(../images/sprite.png); 
		 width: 50px; 
		 height: 50px;



	}
	li.facebook a { background-position: 0 0}
	li.twittter a{background-position: 50px 0}
	li.google a {background-position: 50px 0}
}
